body {
    background-image: linear-gradient(80deg, rgb(36, 6, 39),
            rgb(2, 1, 2), rgb(147, 59, 247)) !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    position: relative !important;
}

::-webkit-scrollbar {
    display: none;
}

#up {
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background: linear-gradient(217deg, rgba(250, 45, 216, 0.5), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(250, 45, 216, 0.5), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(250, 45, 216, 0.5), rgba(0, 0, 255, 0) 70.71%);
    filter: blur(80px);
    animation: down 15s infinite;
}

#down {
    position: absolute;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(10deg, rgba(250, 45, 216, 0.5),
            rgb(2, 1, 2), rgb(99, 84, 233));
    filter: blur(80px);
    animation: up 30s infinite;
}

#left {
    position: absolute;
    height: 800px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(10deg, rgba(250, 45, 216, 0.5),
            rgb(2, 1, 2), rgb(99, 84, 233));
    filter: blur(80px);
    animation: left 45s infinite;
}

#right {
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(10deg, rgba(250, 45, 216, 0.5),
            rgb(2, 1, 2), rgb(99, 84, 233));
    filter: blur(80px);
    animation: right 40s infinite;
}

@keyframes down {

    0%,
    100% {
        top: -100px;
    }

    70% {
        top: 700px;
    }
}

@keyframes up {

    0%,
    100% {
        bottom: -100px;
    }

    70% {
        bottom: 700px;
    }
}

@keyframes left {

    0%,
    100% {
        left: -100px;
    }

    70% {
        left: 1300px;
    }
}

@keyframes right {

    0%,
    100% {
        right: -100px;
    }

    70% {
        right: 1300px;
    }
}